#about {
  background: url("../images-about/parallax-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .info {
    min-height: 50vh;
  }
}
