#forum {
  @include flex(row, none, center);
  .forum-wrapper {
    @include flex(column, center, center);

    .header {
      margin-top: 4rem;
      margin-bottom: 2rem;
      width: calc(4rem + 70vmin);
      @include flex(row, center, space-between);

      p {
        font-size: $forum-p-title-font-size;
        font-family: $font-proxima;
        color: $theme-color1;
      }

      .searchbar-and-icons {
        @include flex(row, center, none);
        .searchbar {
          @include flex(row, center, none);
          border-bottom: 0.1rem solid rgba(18, 19, 156, 0.25);

          label {
            height: calc(1rem + 0.6vmin);
            width: calc(1rem + 0.6vmin);
            display: inline-block;
          }

          input {
            border: none;
            padding-left: 1rem;
            font-size: $forum-input-text-font-size;
            font-weight: 200;
            width: calc(5rem + 12vmin);
            color: $theme-color1;

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: $theme-color1;
              font-size: $forum-input-text-font-size;
              font-weight: 200;
            }
          }
        }
        svg {
          height: calc(1rem + 0.6vmin);
          width: calc(1rem + 0.6vmin);
          fill: $theme-color1;
          cursor: pointer;

          &:hover {
            fill: $theme-color2;
          }
        }

        svg.cogwheel {
          margin-left: 2.4rem;
        }
        svg.dots {
          margin-left: 1.2rem;
        }
      }
    }
    .forum-introduction {
      background: url("../forum/images/design.webp");
      background-size: cover;
      background-position: center;
      padding: 2rem;
      width: 100%;
      height: 22vh;
      @include flex(column, center, center);
      text-align: center;
      position: relative;

      p {
        color: white;
        position: relative;
      }

      p.title {
        font-size: $forum-p-title-introduction-font-size;
        font-weight: 600;
        padding-bottom: 1rem;
      }

      p.text {
        font-size: $forum-p-text-introduction-font-size;
        font-family: $font-proxima;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.25;
        position: absolute;
      }
    }
  }
}
