* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  animation: fadein 1s;
}

h1 {
  font-size: $header1;
  color: $theme-color1;
  font-weight: 700;
}

h2 {
  font-size: $header2;
  color: $theme-color1;
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
