.navbar {
  min-height: 8vh;

  @include flex(row, center, none);
  nav {
    @include flex(row, center, none);
    margin: auto;
    width: 90%;

    h3 {
      flex: 1 1 20rem;
    }

    .links-n-shit {
      @include flex(row, center, flex-end);
      flex: 1 1 20rem;

      ul {
        @include flex(row, center, none);
      }

      .icons {
        @include flex(row, center, space-between);
        width: 6vmin;

        .profile-image {
          @include flex(row, center, none);
          width: calc(0.4rem + 1.2vmin);
          margin-right: 0.3rem;
          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }
        }

        .bell-icon {
          width: calc(0.4rem + 1.2vmin);

          svg {
            height: 100%;
            width: 100%;

            g {
              fill: rgb(244, 210, 211);
            }
          }
        }

        .down-arrow-icon {
        }

        svg {
          @include flex(row, center, none);
        }
      }
    }
  }
}
