.navbar {
  min-height: 8vh;

  @include flex(row, center, none);
  nav {
    @include flex(row, center, none);
    margin: auto;
    width: 92%;
    flex-wrap: wrap;

    .logo {
      font-size: $nav-logo-font-size;
      color: $theme-color1;
      font-weight: 600;
      padding: 2vmin 0rem;
    }

    .links-n-shit {
      @include flex(row, center, flex-end);
      flex: 1 1 50rem;
      flex-wrap: wrap;

      ul {
        @include flex(row, none, none);
        padding: 2vmin 0rem;
        li {
          @include flex(row, center, none);
          padding: 0rem 1rem;
          a {
            font-size: $nav-a-font-size;
            color: $theme-color1;
            font-family: $font-proxima;
          }
        }
      }
      .icons {
        @include flex(row, none, none);
        padding: 2vmin 0rem;
        padding-left: 1rem;

        .profile-image {
          @include flex(row, center, none);
          width: 2.5rem;
          min-width: 2.5rem;
          margin: 0rem 1rem;
          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }
        }

        .bell-icon {
          min-width: 2.5rem;
          width: 2.5rem;

          svg {
            height: 100%;
            width: 100%;

            g {
              fill: rgb(244, 210, 211);
            }
          }
        }

        .down-arrow-icon {
          align-self: center;
        }

        svg {
          @include flex(row, center, none);
        }
      }
    }
  }
}
