#video {
  .background {
    background: url("../images-video/palmtrees.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .video-channel {
    min-height: 60vh;
    background: rgba(0, 0, 0, 0.3);
    @include flex(column, center, center);

    .title-and-play {
      @include flex(column, center, center);
      p {
        color: white;
      }
      p.title {
        font-size: $chanel-p-title-font-size;
        font-weight: 600;
      }

      button {
        margin-top: 2rem;
        border: none;
        background: transparent;
        @include flex(row, center, center);
        transition: 0.2s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
        .play-button {
          border: 0.2rem solid white;
          border-radius: 50%;
          padding: 1.7rem;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 60%;
            top: 50%;
            transform: translate(-60%, -50%);
            border-style: solid;
            border-width: 0.7rem 0 0.7rem 1.2rem;
            border-color: transparent transparent transparent
              rgba(255, 255, 255, 1);
          }
        }
        p.button-text {
          font-size: $chanel-p-text-font-size;
          font-family: $font-proxima;
          border-bottom: 0.15rem solid white;
          margin-left: 1rem;
        }
      }
    }
    .mini-footer {
      .searchbar {
        border-bottom: 0.2rem solid white;
        @include flex(row, center, center);
        label {
          height: 2rem;
          width: 2rem;
          margin-right: 1rem;
          display: inline-block;
          svg {
            fill: white;
          }
        }
        input {
          background: transparent;
          border: none;
          height: 3rem;
          color: white;
          font-size: $chanel-placeholder-text-font-size;
          padding-left: 1rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: white;
            font-family: $font-proxima;
            font-size: $chanel-placeholder-text-font-size;
          }
        }
      }
    }
  }
}
