#video {
  .background {
    background: url("../images-video/palmtrees.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .video-channel {
    min-height: 60vh;
    background: rgba(0, 0, 0, 0.3);
    @include flex(column, none, space-evenly);

    .title-and-play {
      @include flex(column, center, center);
      p {
        color: white;
      }
      p.title {
        font-size: $chanel-p-title-font-size;
        font-weight: 600;
      }

      button {
        margin-top: 2rem;
        border: none;
        background: transparent;
        @include flex(row, center, center);
        transition: 0.2s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
        .play-button {
          border: 0.2rem solid white;
          border-radius: 50%;
          padding: 1.7rem;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 60%;
            top: 50%;
            transform: translate(-60%, -50%);
            border-style: solid;
            border-width: 0.7rem 0 0.7rem 1.2rem;
            border-color: transparent transparent transparent
              rgba(255, 255, 255, 1);
          }
        }
        p.button-text {
          font-size: $chanel-p-text-font-size;
          font-family: $font-proxima;
          border-bottom: 0.15rem solid white;
          margin-left: 1rem;
        }
      }
    }
    .mini-footer {
      width: 90%;
      margin: 0 auto;
      @include flex(row, center, space-between);
      .searchbar {
        border-bottom: 0.1rem solid white;
        width: calc(10rem + 6vmin);
        @include flex(row, center, flex-start);

        label {
          height: calc(1rem + 1vmin);
          width: calc(1rem + 1vmin);
          margin-right: 0.5vmin;
          display: inline-block;
          svg {
            fill: white;
          }
        }
        input {
          background: transparent;
          border: none;
          height: 3rem;
          color: white;
          font-size: $chanel-placeholder-text-font-size;
          width: 70%;
          padding-left: 1rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: white;
            font-family: $font-proxima;
            font-size: $chanel-placeholder-text-font-size;
          }
        }
      }

      .icons {
        height: calc(1rem + 0.5vmin);
        width: calc(3rem + 3vmin);
        @include flex(row, center, space-between);
        .share-icon {
          height: 100%;
          width: calc(1rem + 1vmin);
        }
        .line {
          width: 0.1rem;
          height: 100%;
          background: white;
        }
        .info-icon {
          height: 100%;
          width: calc(1rem + 1vmin);
        }
      }
      .categories {
        width: calc(8rem + 6vmin);
        height: 3rem;
        border-bottom: 0.1rem solid white;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.8;
        }

        button {
          height: 100%;
          width: 80%;
          margin: auto;
          background: transparent;
          border: none;
          white-space: nowrap;
          color: white;
          font-size: $chanel-placeholder-text-font-size;
          font-family: $font-proxima;
          @include flex(row, center, space-between);

          &:focus {
            outline: none;
          }

          .dropdown-icon {
            height: 100%;
            width: calc(1rem + 0.5vmin);
            @include flex(row, center, center);
          }
        }
      }

      svg {
        width: 100%;
        height: 100%;
        cursor: pointer;
        fill: white;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
