@font-face {
  font-family: "ProximaNW01-Reg";
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#ProximaNW01-Reg")
      format("svg");
}

$header1: 7.2rem;
$nav-logo-font-size: 2.2rem;
$nav-a-font-size: 1.4rem;
$project-p-title-font-size: calc(1.2rem + 1vmin);
$project-p-content-font-size: calc(0.7rem + 0.5vmin);
$quote-text-p-font-size: calc(1rem + 1vmin);
$quote-name-p-font-size: calc(1rem + 0.5vmin);
$font-proxima: "ProximaNW01-Reg", Fallback, sans-serif;
$theme-color1: #12139c;
$theme-color1-opacity: rgba(18, 19, 156, 0.4);
$theme-color2: #f4d2d3;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@import "globals";
@import "navbar";
@import "about";
@import "quote";
@import "video";
@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);

@media screen and (max-width: 688px) {
  /* NAVBAR */

  .navbar {
    nav {
      justify-content: center;
      .links-n-shit {
        justify-content: center;
      }
    }
  }

  /* ABOUT SECTION */

  #about {
    .info {
      justify-content: center;
      .info-box {
        width: 60vw;
        h1 {
          font-size: calc(1rem + 8vmin);
        }
        p {
          font-size: calc(1rem + 2vmin);
          padding: 1.5rem 0rem;
        }
      }
    }
  }
}
