@font-face {
  font-family: "ProximaNW01-Reg";
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#ProximaNW01-Reg")
      format("svg");
}

$nav-logo-font-size: 2.2rem;
$nav-a-font-size: 1.4rem;
$font-proxima: "ProximaNW01-Reg", Fallback, sans-serif;
$theme-color1: #12139c;
$theme-color2: #f4d2d3;

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@import "globals";
@import "navbar";
@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);

@media screen and (max-width: 688px) {
  .navbar {
    nav {
      justify-content: center;
      .links-n-shit {
        justify-content: center;
      }
    }
  }
}
