@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);
@font-face {
  font-family: "ProximaNW01-Reg";
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff") format("woff"), url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#ProximaNW01-Reg") format("svg");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 7.2rem;
  color: #12139c;
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin: auto;
  width: 92%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar nav .logo {
  font-size: 2.2rem;
  color: #12139c;
  font-weight: 600;
  padding: 2vmin 0rem;
}

.navbar nav .links-n-shit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar nav .links-n-shit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  padding: 2vmin 0rem;
}

.navbar nav .links-n-shit ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  padding: 0rem 1rem;
}

.navbar nav .links-n-shit ul li a {
  font-size: 1.4rem;
  color: #12139c;
  font-family: "ProximaNW01-Reg", Fallback, sans-serif;
}

.navbar nav .links-n-shit .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  padding: 2vmin 0rem;
  padding-left: 1rem;
}

.navbar nav .links-n-shit .icons .link2:hover + .link3 .down-arrow-icon svg g {
  fill: #f4d2d3;
}

.navbar nav .links-n-shit .icons .link2 .profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  width: 2.5rem;
  min-width: 2.5rem;
  margin: 0rem 1rem;
}

.navbar nav .links-n-shit .icons .link2 .profile-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.navbar nav .links-n-shit .icons .bell-icon {
  min-width: 2.5rem;
  width: 2.5rem;
}

.navbar nav .links-n-shit .icons .bell-icon svg {
  height: 100%;
  width: 100%;
}

.navbar nav .links-n-shit .icons .bell-icon svg g {
  fill: #f4d2d3;
}

.navbar nav .links-n-shit .icons .link3 .down-arrow-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.navbar nav .links-n-shit .icons .link3 .down-arrow-icon:hover g {
  fill: #f4d2d3;
}

.navbar nav .links-n-shit .icons .link3 .down-arrow-icon g {
  fill: #12139c;
}

.navbar nav .links-n-shit .icons svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

#about {
  background: url("../images-about/parallax-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about .info {
  min-height: 50vh;
  margin: auto;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

#about .info .info-box {
  min-height: 38vh;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#about .info .info-box h1 {
  line-height: 1.3;
}

#about .info .info-box p {
  padding: 3rem 0rem;
  color: #12139c;
  font-weight: 400;
  font-size: 2rem;
}

#about .projects {
  background: white;
  min-height: 42vh;
  height: 42vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .projects .project {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  margin: 0rem 0.5rem;
  position: relative;
}

#about .projects .project:hover .hover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .projects .project img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .projects .project .hover-content {
  position: absolute;
  background: rgba(18, 19, 156, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0rem 2.3rem;
  display: none;
}

#about .projects .project .hover-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .projects .project .hover-content .text p {
  color: white;
}

#about .projects .project .hover-content .text p.title {
  font-size: calc(1rem + 0.7vmin);
  text-align: center;
  font-weight: 200;
}

#about .projects .project .hover-content .text p.content {
  padding-top: 1rem;
  font-size: calc(0.4rem + 0.7vmin);
  line-height: 2.5;
  text-align: center;
}

@media screen and (max-width: 688px) {
  /* NAVBAR */
  .navbar nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar nav .links-n-shit {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* ABOUT SECTION */
  #about .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .info .info-box {
    width: 60vw;
  }
  #about .info .info-box h1 {
    font-size: calc(1rem + 8vmin);
  }
  #about .info .info-box p {
    font-size: calc(1rem + 2vmin);
    padding: 1.5rem 0rem;
  }
}
/*# sourceMappingURL=style.css.map */