@font-face {
  font-family: "ProximaNW01-Reg";
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
  src: url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#ProximaNW01-Reg")
      format("svg");
}

/* FONT-SIZES */

$header1: 7.2rem;
$header2: calc(2rem + 1.5vmin);
$nav-logo-font-size: 2.2rem;
$nav-a-font-size: 1.4rem;
$project-p-title-font-size: calc(1.2rem + 1vmin);
$project-p-content-font-size: calc(0.7rem + 0.5vmin);
$quote-p-text-font-size: calc(1rem + 1vmin);
$quote-p-name-font-size: calc(1rem + 0.5vmin);
$chanel-p-title-font-size: calc(2rem + 1vmin);
$chanel-p-text-font-size: calc(1.2rem + 0.5vmin);
$chanel-placeholder-text-font-size: calc(0.7rem + 0.5vmin);
$preview-p-title-font-size: calc(1rem + 1vmin);
$preview-p-text-font-size: calc(1rem + 0.5vmin);
$forms-placeholder-text-font-size: calc(0.8rem + 0.5vmin);
$forms-button-text-font-size: calc(0.9rem + 0.5vmin);
$blog-p-title-font-size: calc(1.2rem + 1vmin);
$blog-p-text-font-size: 1.2rem;
$footer-p-text-font-size: 1.4rem;
$blogg-p-title-font-size: calc(1.4rem + 0.6vmin);
$blogg-p-text-font-size: calc(0.8rem + 0.5vmin);
$blogg-input-text-font-size: calc(1.4rem + 0.6vmin);
$paketPriser-p-title-font-size: calc(1.4rem + 0.6vmin);
$paketPriser-p-currency-font-size: calc(1rem + 0.6vmin);
$paketPriser-p-priceTag-font-size: calc(3rem + 3vmin);
$paketPriser-p-siteType-font-size: calc(1.15rem + 0.2vmin);
$paketPriser-p-features-font-size: calc(1.1rem + 0.3vmin);
$forum-p-title-font-size: calc(1rem + 0.5vmin);
$forum-input-text-font-size: calc(1rem + 0.5vmin);
$forum-p-title-introduction-font-size: calc(2rem + 2.3vmin);
$forum-p-text-introduction-font-size: calc(1rem + 0.75vmin);
$forum-p-text-filter-button-font-size: calc(1rem + 0.4vmin);
$forum-p-text-activity-font-size: calc(1rem + 0.15vmin);
$forum-p-title-post-font-size: calc(1rem + 0.5vmin);
$forum-p-author-post-font-size: calc(0.8rem + 0.3vmin);
$medlemmar-p-name-font-size: calc(1.2rem + 0.3vmin);

/* FONT-FAMILIES*/

$font-proxima: "ProximaNW01-Reg", Fallback, sans-serif;

/* WEBSITE-COLORS */

$theme-color1: #12139c;
$theme-color1-opacity: rgba(18, 19, 156, 0.4);
$theme-color2: #f4d2d3;

/* MIXINS */

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

/* IPMORTS */

@import "globals";
@import "navbar";
@import "about";
@import "quote";
@import "video";
@import "forms";
@import "blog";
@import "footer";
@import "blogg";
@import "paket&priser";
@import "forum";
@import "medlemmar";
@import url(//db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);

/* MEDIA Queries */

@media screen and (max-width: 688px) {
  /* NAVBAR */

  .navbar {
    nav {
      justify-content: center;
      .links-n-shit {
        justify-content: center;
      }
    }
  }

  /* ABOUT SECTION */

  #about {
    .info {
      justify-content: center;
      .info-box {
        width: 60vw;
        h1 {
          font-size: calc(1rem + 8vmin);
        }
        p {
          font-size: calc(1rem + 2vmin);
          padding: 1.5rem 0rem;
        }
      }
    }
  }
}

@media screen and (max-width: 496px) {
  .activity-bar {
    justify-content: flex-start !important;
    padding-left: 1.2rem !important;
  }
}
